beautifulsoup4
ipython
jupyter
jupyter-cache
matplotlib
numpy
pandas
pysam
requests
scikit-learn
scipy
seaborn
tabulate
snakemake
jupytext
nibabel
scikit-image
itk
plotly
pooch
torch
torchvision
gensim
transformers
sentence-transformers
nltk
wordcloud
    
